{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}



{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="link" href="{{ path('app_logout') }}">Logout</a>
{% endif %}

    <h1>Voyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDepart</th>
                <th>DateFin</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Prix</th>
                <th>NombreVoyageurs</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.dateDepart ? voyage.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.dateFin ? voyage.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.nom }}</td>
                <td>{{ voyage.pays }}</td>
                <td>{{ voyage.prix }}</td>
                <td>{{ voyage.nombreVoyageurs }}</td>
                <td>{{ voyage.image }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Create new</a>
{% endblock %}
